.divItemsPagination:hover {
  background-color: #007fff;
}
.divItemsPagination:hover div p {
  color: white;
}

.activePagination {
  background-color: #007fff;
}

.paginationText {
  color: #707070;
}

.activePaginationText {
  color: white;
}
