.cartContainer {
  height: 100%;
  width: 95%;
}

.OrderContainer {
  min-height: calc(10rem + auto);
  width: 72%;
}

.buyDivContainer {
  height: 14rem;
  width: 30rem;
}

.buyCart {
  height: 2.6rem;
  width: 12rem;
}

.LoaderDivV2 {
  height: 40rem;
  width: 100%;
}
